@import "config";

.buttons {
    display: flex;
    max-width: $max-width;
    margin-top: 3*$gutter;
    margin: 0 auto;
  

    

    &__container {
      display: flex;
      margin: auto;
        
      }


    &__button {
/*
      display: block;
      width: 100%;
      max-width: 50px;
      cursor: pointer;
*/
      border: none;
      border-radius: 1rem;
      background-color: $color-4;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      
      margin: $gutter;
      font-size: 1rem;
      font-weight: bold;   
    }
}