@import "config";

.fyrirlestrar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;

    &__container {
      display: flex;
      font-family: $font-main;
    }
    
}