@import "config";

.fyrirlestrar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;

    &__container {
      display: flex;
      
      font-family: $font-main;
    }    
}

.list {
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  justify-content: space-around;
//  max-width: 0.33*$max-width;
}